.AboutMeContainer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url('../../../dist/assets/images/mypic.JPG');
  background-size: cover;
  background-position: top right;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}