@mixin DesktopStyleDescript($direction) {
  display: flex;
  flex-direction: $direction;
  margin: 50px 40px;
  padding: 20px 5px;
  justify-content: space-around;

  h2 {
    font-size: 30px;
  }
  

  .fullDescript {
    width: 50%;
    text-align: center;
  }
}

.ApplicationCompContainer {
  .ApplicationCompContainerMobile {
    margin: 50px 5px;
    padding: 20px 5px;
  
    h2 {
      margin: 20px auto;
      text-align: center;
    }
  }
  
  .ApplicationCompContainerDeskTop {
    display: none;
  }

  .ApplicationCompContainerDeskTopReverse {
    display: none;
  }
}


@media (min-width: 500px) {
  .ApplicationCompContainer {
    .ApplicationCompContainerMobile {
      display: none
    }
    
    .ApplicationCompContainerDeskTop {
      @include DesktopStyleDescript(row);
    }

    .ApplicationCompContainerDeskTopReverse {
      @include DesktopStyleDescript(row-reverse);
    }
  }
}