*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'OrkneyRegular';
  box-sizing: border-box;
  font-size: 20px;
}

@font-face {
  font-family: 'OrkneyRegular';
  src: url('../dist/assets/fonts/orkney/Orkney\ Regular.woff') format('truetype');
  font-style: normal;
  font-weight: normal;
}