node_modules/
.DS_Store
client/dist/bundle.js

##image
client/dist/802c0dd7db9bc634b5408f3978143f83.jpg

client/dist/31664fca7bf42aa1919964e9a275134e.JPG

client/dist/assets/images/mypic.PNG

client/dist/assets/images/mypic.jpg

client/dist/3da72288db84ec01a45d9812a989c990.JPG

client/dist/assets/fonts/