.name {
  text-align: center;
  font-size: 280%;
  color: white;
  margin: 100px auto 10px auto;
  
}

.title {
  text-align: center;
  font-size: 100%;
  color: white;
}

.description {
  text-align: center;
  font-size: 120%;
  color: white;
  margin: 70px 10px;
}

.aboutMeBtns{
  display: flex;
  flex-direction: column;
  justify-content: center;
  // margin: 20px auto;
  text-decoration: none;

}